{% setcontent slides = 'slides/latest/4' %}
<div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
    <ul class="slides" style="position: relative;">
        {% for slide in slides %}
            <li class="parallax" style="background-image: url({{ image(slide.imagem) }})">
                {% if slide.descricao|length > 0 %}
                    <p class="flex-caption">{{ slide.descricao }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</div>
